.bundle {
  color: $color-font-secondary;
  text-align: left;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  width: 368px;
  min-height: 670px;

  padding-bottom: 31px;

  border-radius: 5px;

  box-shadow: 0 0 0 1px $color-font-primary-low-opac;

  background-color: $color-font-contrast;

  &--hit {
    width: 367px;
  }
}

.bundle__name {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -1.27273px;
  opacity: 0.7;

  margin-top: 41px;
  margin-left: 29px;

  &--hit {
    letter-spacing: normal;

    margin-top: 38px;
  }
}

.bundle__price {
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  opacity: 0.7;
  text-align: right;

  margin-top: 43px;
  margin-right: 29px;
  margin-left: auto;
  margin-bottom: 38px;

  &--hit {
    margin-top: 39px;
    margin-right: 28px;
    margin-bottom: 41px;
  }
}

.bundle__tip {
  font-size: 16px;
  line-height: 24px;

  padding-left: 30px;
  padding-right: 50px;
  margin-top: 0;
}

.bundle__list {
  list-style: none;

  position: relative;

  margin-top: 42px;
  margin-bottom: 14px;

  &::before {
    content: "";

    position: absolute;
    top: -32px;
    left: 29px;

    height: 1px;
    width: 310px;

    background-color: $color-font-primary-low-opac;
  }

  &--hit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 291px;

    margin-top: 43px;
    margin-bottom: 54px;

    &::before {
      top: -32px;
    }
  }
}

.bundle__list-item {
  font-size: 16px;
  line-height: 32px;

  position: relative;

  padding-left: 20px;
  padding-right: 30px;
  margin-bottom: 15px;

  &--hit {
    margin-top: 0;
    margin-bottom: 0;

    &:nth-of-type(2) {
      margin-top: -8px;
    }
  }
}

.bundle__list-svg {
  position: absolute;
  top: 5px;
  left: -15px;

  &--hover {
    display: none;
  }
}

.bundle__list-svg-hit {
  position: absolute;
  top: 6px;
  left: -11px;

  &--second, &--third {
    top: 4px;
  }
}

.bundle__list-svg-hit--hover {
  display: none;
}

.bundle__button {
  text-align: center;

  width: 310px;

  align-self: flex-end;

  margin-top: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.bundle:hover {
  box-shadow: 0 0 0 3px $color-accent;

  .bundle__name, .bundle__price {
    color: $color-accent;
    opacity: 1;
  }

  .bundle__list::before {
      opacity: 0.5;
      background-color: $color-accent;
  }

  .bundle__list-svg, .bundle__list-svg-hit {
    display: none;
    &--hover {
      display: inline;
    }
  }
}

@media (max-width: $tablet-only-width) {
  .bundle {
    text-align: center;

    flex-direction: column;

    min-height: 628px;
    width: 286px;

    padding-bottom: 0;
    margin-left: 52px;

    &--hit {
      min-height: 620px;

      margin-left: 72px;

      border-radius: 5px 5px 0 0;
    }
  }

  .bundle__name {
    font-size: 24px;

    margin-top: 30px;
    margin-left: 0;
    margin-bottom: 0;
  }

  .bundle__price {
    font-weight: 600;
    text-align: center;

    margin-top: 10px;
    margin-right: 114px;
    margin-bottom: 0px;

    &--hit {
      margin-right: auto;
    }
  }

  .bundle__tip {
    margin-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .bundle__list {
    margin-top: 13px;
    margin-bottom: 0;
    padding-left: 39px;

    &::before {
      top: -22px;
      left: 19px;

      width: 248px;
    }

    &--hit {
      height: 324px;
    }
  }

  .bundle__list-item {
    text-align: left;

    padding-left: 9px;
    padding-right: 20px ;
    margin-bottom: 10px;

    &--hit {
      &:nth-of-type(2) {
      margin-top: -6px;
      }
    }
  }

  .bundle__list-svg {
    left: -24px;
  }

  .bundle__list-svg-hit {
    top: 6px;
    left: -20px;

    &--second, &--third, &--fourth {
      top: 4px;
    }
  }

  .bundle__button {
    width: 288px;

    margin-left: -1px;
  }
}

@media (max-width: $mobile-only-width) {
  .bundle {
    min-height: 629px;

    margin-right: auto;
    margin-left: auto;

    &--hit {
      min-height: 613px;
      width: 286px;

      margin-bottom: 1px;
    }
  }

  .bundle__name {
    margin-left: -3px;
  }

  .bundle__tip {
    margin-left: -3px;
  }

  .bundle__list-item {
    &--hit {
      &:nth-of-type(2) {
        margin-top: -4px;
      }
    }
  }

  .bundle__list-svg {
    left: -25px;
  }

  .bundle__list-svg-hit {
    left: -21px;

    &--second {
      top: 3px;
    }

    &--third {
      top: 3px;
    }
  }
}
