.bundle {
  color: $color-font-secondary;
  text-align: left;
}

.bundle__name {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  opacity: 0.7;

  &--hit {
    opacity: 1;
    color: $color-accent;
  }
}

.bundle__price {
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  opacity: 0.7;
  text-align: right;

  &--hit {
    opacity: 1;
    color: $color-accent;
  }
}

.bundle__tip {
  font-size: 16px;
  line-height: 24px;
}

.bundle__list {
  list-style: none;

  &::before {

  }

  &--hit {
    &::before {

    }
  }
}

.bundle__list-item {
  font-size: 16px;
  line-height: 32px;

  &::before {

  }

  &--hit {
      &::before {
    }
  }
}

.bundle__button {

}

@media (max-width: tablet-only-width) {
  .bundle {
    text-align: center;
  }

  .bundle__name {
    font-size: 24px;
  }

  .bundle__price {
    font-weight: 600;
    opacity: 0.7;
    text-align: center;
  }

  .bundle__tip {

  }

  .bundle__list {

    &::before {

    }

    &--hit {
      &::before {

      }
    }
  }

  .bundle__list-item {
    text-align: left;

    &::before {

    }

    &--hit {
        &::before {
      }
    }
  }
}

@media (max-width: $mobile-only-width) {
  .bundle {

  }

  .bundle__name {

  }

  .bundle__price {

  }

  .bundle__tip {

  }

  .bundle__list {

    &::before {

    }

    &--hit {
      &::before {

      }
    }
  }

  .bundle__list-item {
    &::before {

    }

    &--hit {
        &::before {
      }
    }
  }
}
