.button {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: $color-font-contrast;
  letter-spacing: 2px;
  text-transform: uppercase;

  display: block;

  min-height: 75px;

  padding-top: 30px;

  border: none;

  background-color: $color-accent;
}

@media (max-width: $tablet-only-width) {
  .button {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;

    min-height: 50px;

    padding-top: 20px;

  }
}

@media (max-width: $mobile-only-width) {
  .button {

  }
}
