.contacts {
  position: relative;

  padding-left: 45px;
  margin-left: 84px;

  &::after {
    content: "";

    position: absolute;

    top: 15px;
    right: -26px;

    width: 1px;
    height: 189px;

    background-color: $color-footer-border;
  }
}

.contacts__header {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: left;
}

.contacts__list {
  list-style: none;

  padding-top: 5px;

}

.contacts__list-item {
  margin-bottom: 19px;
}

.contacts__link {
  font-weight: 400;
  text-decoration: underline;
  color: $color-accent;
  text-align: left;

  position: relative;

  &:hover {
    text-decoration: none;
  }

  &--email {
    font-size: 14px;
    line-height: 17px;
  }

  &--phone {
    font-size: 16px;
    line-height: 32px;
  }
}

.contacts__link-part {
  display: none;

  &--desktop {
    display: inline;
  }
}

.contacts__link-svg-email {
  position: absolute;
  top: -2px;
  left: -40px;
}

.contacts__link-svg-phone {
  position: absolute;
  top: -10px;
  left: -40px;
}

@media (max-width: $tablet-only-width) {
  .contacts {
    padding-left: 0px;
    margin-left: 0px;

    &::after {
      display: none;
    }
  }

  .contacts__header {
    padding-left: 45px;
  }

  .contacts__list {
    padding-left: 86px;
  }

  .contacts__link-part {
    display: inline;

    &--desktop {
      display: none;
    }
  }
}

@media (max-width: $mobile-only-width) {
  .contacts {
    padding-top: 26px;
  }

  .contacts__header {
    text-align: center;

    margin-left: -11px;
    padding-left: 0;
  }

  .contacts__list {
    padding-left: 27px;
  }

  .contacts__list-item {
    text-align: center;
  }
}
