.corporate-offer {
  color: $color-font-secondary;

  margin-left: 74px;
}

.corporate-offer__header {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;

  margin-bottom: 0;
}

.corporate-offer__description {
  font-size: 14px;
  line-height: 24px;
  opacity: 0.5;

  margin-top: 20px;
}

@media (max-width: $tablet-only-width) {
  .corporate-offer {
    margin-left: 0;
    padding-top: 19px;

    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 4px;
      left: 0px;

      height: 1px;
      width: 726px;

      background-color: $color-footer-border;
    }
  }

  .corporate-offer__header {
    text-align: center;
  }

  .corporate-offer__description {
    text-align: center;
  }
}

@media (max-width: $mobile-only-width) {
  .corporate-offer {
    margin-right: -5px;
    padding-top: 10px;

    &::before {
      top: -6px;
      left: -5px;
      width: 288px;
    }

  }
}
