.other-tours {
  color: $color-font-secondary;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: start;

  position: relative;

  &::after {
    content: "";

    position: absolute;

    top: 15px;
    right: -40px;

    width: 1px;
    height: 189px;

    background-color: $color-footer-border;
  }
}

.other-tours__header {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;

  margin-bottom: 0;
  margin-right: 40px;
}

.other-tours__list {
  list-style: none;

  padding-left: 0;
  margin-top: 20px;
}

.other-tours__list-item {
  margin-bottom: 8px;
}

.other-tours__link {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.5;
}

@media (max-width: $tablet-only-width) {
  .other-tours {
    justify-content: flex-start;

    &::after {
      right: 5px;

      height: 177px;
    }

  }

  .other-tours__header {
    text-align: center;
  }

  .other-tours__list {
    margin-right: 46px;

    &:nth-of-type(2) {
      margin-right: 50px;
    }
  }

  .other-tours__list-item {

  }

  .other-tours__link {

  }
}

@media (max-width: $mobile-only-width) {
  .other-tours {

  }

  .other-tours__header {

  }

  .other-tours__list {

  }

  .other-tours__list-item {

  }

  .other-tours__link {

  }
}
