.page-footer {
  text-align: left;

  display: flex;

  min-height: 270px;

  padding-top: 155px;
  padding-bottom: 60px;
  padding-left: 31px;
}

.page-footer__other-tours {
  width: 350px;

}

.page-footer__contacts {
  width: 320px;

}

.page-footer__corporate {
  width: 320px;

}

@media (max-width: $tablet-only-width) {
  .page-footer {
    flex-wrap: wrap;

    padding-top: 65px;
    padding-bottom: 37px;
    padding-left: 21px;
  }

  .page-footer__other-tours {
    width: 400px;
  }

  .page-footer__corporate {
    width: auto;
  }
}

@media (max-width: $mobile-only-width) {
  .page-footer {
    padding-top: 55px;
    padding-left: 16px;
    padding-bottom: 15px;
  }
}
