.popup {
  color: $color-font-tertiary;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;

  z-index: 120;

  width: 728px;
  min-height: 444px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: $color-bg-popup;

  &--hidden {
    display: none;
  }
}

.popup__wrapper {
  position: relative;

  width: 390px;

  padding-top: 51px;
  padding-left: 31px;

  &::after {
    content: "*";
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
    color: $color-accent;
    z-index: 100;

    position: absolute;
    top: 171px;
    right: 292px;

    height: 40px;
    width: 40px;
  }
}

.popup__close-button {
  position: absolute;
  right: 20px;
  top: 20px;

  width: 22px;
  height: 22px;

  padding: 0;

  border: none;

  background-color: transparent;

  &::before, &::after {
    content: "";
    opacity: 0.2;

    position: absolute;
    top: 10px;
    left: -4px;

    width: 30px;
    height: 1px;

    background-color: $color-font-secondary;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

}

.popup__header {
  font-weight: 600;
  font-size: 25px;
  line-height: 43px;
  text-align: left;

  padding-left: 89px;
  padding-bottom: 30px;
}

.popup__input {
  margin-right: 36px;
  margin-bottom: 20px;
}

.popup__submit {
  font-family: inherit;
  letter-spacing: 2px;

  min-height: 50px;
  width: 176px;

  margin-left: 75px;
  padding-top: 3px;
  padding-left: 11px;
}

.popup__description {
  font-weight: 500;
  font-size: 25px;
  line-height: 43px;

  margin-top: 179px;
  padding-left: 130px;
  padding-right: 130px;
}

@media (max-width: $mobile-only-width) {
  .popup {
    width: 320px;

    padding-top: 29px;
    padding-bottom: 185px;

    background-color: $color-font-contrast;
  }

  .popup__img {
    display: none;
  }

  .popup__wrapper {
    padding-left: 0;

    &::after {
      top: 170px;
      right: auto;
      left: 14px;
    }
  }

  .popup__close-button {
    top: -10px;
  }

  .popup__header {
    text-align: center;

    padding-left: 0;
    padding-bottom: 28px;
  }

  .popup__form {

  }

  .popup__input {
    margin-right: 0;
  }

  .popup__submit {
    width: 288px;

    margin-right: auto;
    margin-left: auto;
  }
}
