.prices {
  display: flex;

  padding-top: 225px;
  padding-left: 19px;
}

.prices__bundle {
  margin-right: 33px;
}

@media (max-width: $tablet-only-width) {
  .prices {
    flex-wrap: wrap;

    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .prices__bundle {
    margin-top: 30px;
    margin-right: 0;
  }

  .prices__info-block {
    order: -1;
  }
}

@media (max-width: $mobile-only-width) {
  .prices__info-block {
    margin-bottom: 10px;
  }
}
