.questions-form {
  color: $color-font-secondary;
}

.questions-form__img {

}

.questions-form__wrapper {

}

.questions-form__header {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
}

.questions-form__description {
  font-size: 16px;
  line-height: 24px;
}

.questions-form__form {

}

.questions-form__input {

}

.questions-form__submit {

}

@media (max-width: tablet-only-width) {
  .questions-form {

  }

  .questions-form__img {

  }

  .questions-form__wrapper {

  }

  .questions-form__header {

  }

  .questions-form__description {

  }

  .questions-form__form {

  }

  .questions-form__input {

  }

  .questions-form__submit {

  }
}

@media (max-width: $mobile-only-width) {
  .questions-form {

  }

  .questions-form__img {

  }

  .questions-form__wrapper {

  }

  .questions-form__header {

  }

  .questions-form__description {

  }

  .questions-form__form {

  }

  .questions-form__input {

  }

  .questions-form__submit {

  }
}
