.questions-form {
  color: $color-font-secondary;

  position: relative;

  padding-top: 137px;
}

.questions-form__img {
  margin-right: 285px;
}

.questions-form__wrapper {
  position: absolute;
  right: -10px;
  top: 207px;

  min-height: 315px;
  width: 656px;

  padding-top: 30px;

  border-radius: 5px;

  box-shadow: 0px 4px 30px $color-shadow-question-form;

  background-color: $color-font-contrast;
}

.questions-form__header {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;

  margin-bottom: 0;
}

.questions-form__description {
  font-size: 16px;
  line-height: 24px;

  position: relative;

  margin-top: 11px;

  &::after {
    content: "*";
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
    color: $color-accent;
    z-index: 100;

    position: absolute;
    top: 53px;
    left: 49px;

    height: 40px;
    width: 40px;
  }
}

.questions-form__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 557px;

  margin-top: 23px;
  margin-left: 50px;
}

.questions-form__submit {
  font-family: inherit;
  letter-spacing: 2px;

  min-height: 50px;
  width: 176px;

  padding-top: 19px;
  padding-bottom: 16px;

  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: $tablet-only-width) {
  .questions-form {
    width: auto;

    padding-top: 125px;

    padding-left: 0;
    padding-right: 0;
  }

  .questions-form__img {
    margin-right: 0;
  }

  .questions-form__wrapper {
    top: 195px;
    right: 0;
    left: 50%;

    transform: translateX(-50%);

    min-height: 311px;
    width: 658px;
  }

  .questions-form__description {
    &::after {
      left: 48px;
    }
  }

  .questions-form__submit {
    width: 250px;

    margin-top: 20px;
  }
}

@media (max-width: $mobile-only-width) {
  .questions-form {
    padding-top: 48px;

    background-color: $color-bg-popup;
  }

  .questions-form__img {
    display: none;
  }

  .questions-form__wrapper {
    position: static;

    width: 320px;

    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    transform: translateX(0%);

    box-shadow: none;

    background-color: transparent;
  }

  .questions-form__description {
    margin-top: 20px;
    margin-bottom: 0px;

    &::after {
      top: 73px;
      left: -2px;
    }
  }

  .questions-form__form {
    display: static;

    width: auto;

    margin-top: 0;
    margin-left: 0;
  }

  .questions-form__input {
    margin-top: 19px;
    margin-bottom: 1px;
    margin-left: 0;
  }

  .questions-form__submit {
    width: 288px;

    margin-top: 19px;
  }
}
