 .review {
  width: 382px;
  min-height: 367px;

  padding-top: 30px;
  padding-left: 30px;

  background-color: $color-font-contrast
}

.review__header {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.691667px;
  text-align: left;

  position: relative;

  margin-top: 0;
  margin-bottom: 0;

  &::after {
    content: "";

    position: absolute;
    bottom: -13px;
    left: 0;

    height: 2px;
    width: 68px;

    background-color: $color-accent;
  }
}

.review__content {
  font-size: 14px;
  line-height: 28px;
  opacity: 0.7;
  letter-spacing: -0.408333px;
  text-align: left;

  margin-top: 34px;
  padding-right: 30px;
}

.review__user {
  display: flex;

  margin-top: 25px;
  padding-left: 1px;
}

.review__user-img {
  margin-top: 5px;
}

.review__user-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.466667px;
  text-align: left;

  margin-left: 15px
}

@media (max-width: $tablet-only-width) {
  .review {

  }

  .review__header {

  }

  .review__content {

  }

  .review__user-img {

  }

  .review__name {

  }
}

@media (max-width: $mobile-only-width) {
  .review {

  }

  .review__header {
    font-size: 20px;
    line-height: 24px;
  }

  .review__content {

  }

  .review__user-img {

  }

  .review__name {

  }
}
