 .review {
  width: 382px;
  min-height: 367px;

  padding-top: 30px;
  padding-left: 30px;

  background-color: $color-font-contrast
}

.review__header {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.691667px;
  text-align: left;

  position: relative;

  margin-top: 0;
  margin-bottom: 0;

  &::after {
    content: "";

    position: absolute;
    bottom: -12px;
    left: 0;

    height: 1px;
    width: 68px;

    background-color: $color-accent;
  }
}

.review__content {
  font-size: 14px;
  line-height: 28px;
  opacity: 0.7;
  letter-spacing: -0.408333px;
  text-align: left;

  margin-top: 34px;
  padding-right: 30px;
}

.review__user {
  display: flex;

  margin-top: 25px;
  padding-left: 1px;
}

.review__user-img {
  margin-top: 5px;
}

.review__user-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.466667px;
  text-align: left;

  margin-left: 15px
}

@media (max-width: $mobile-only-width) {
  .review {
    width: 268px;

    padding-top: 32px;
    padding-left: 0;
  }

  .review__header {
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    &::after {
      left: 99px;
    }
  }

  .review__content {
    text-align: center;

    margin-top: 33px;
    margin-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .review__user {
    display: block;

    margin-top: 11px;
    margin-left: -2px;
    padding-left: 0px;
  }

  .review__user-name {
    text-align: center;

    margin-top: 11px;
    margin-left: 0;
  }
}
