.tour-article {
  display: flex;

  position: relative;

  margin-top: -60px;
  padding-top: 139px;
}

.tour-article__wrapper {
  display: flex;
  flex-direction: column;

  width: 470px;
}

.tour-article__name {
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: -1.245px;
  text-align: left;

  position: relative;

  margin-top: 10px;
  margin-bottom: 0;

  &::after {
    content: "";

    position: absolute;
    bottom: -17px;
    left: 0;

    height: 3px;
    width: 175px;

    background-color: $color-accent;
  }
}

.tour-article__description {
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
  letter-spacing: -0.466667px;
  text-align: left;

  margin-top: 49px;
  padding-right: 100px;
}

.tour-article__link {
  width: 250px;

  margin-top: 32px;
}

.tour-article__review {
  position: absolute;

  top: 253px;
  right: 2px;
}

@media (max-width: $tablet-only-width) {
  .tour-article {
    flex-direction: column;

    margin-top: -139px;
  }

  .tour-article__wrapper {
    width: auto;
  }

  .tour-article__name {
    font-size: 30px;
    line-height: 45px;
    letter-spacing: normal;
    text-align: center;

    &:after {
      display: none;
    }
  }

  .tour-article__description {
    text-align: center;

    margin-top: 21px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .tour-article__link {
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .tour-article__img {
    margin-top: 30px;
  }

  .tour-article__review {
    position: absolute;

    top: auto;
    bottom: -32px;
    right: 50%;

    transform: translateX(50%);
  }
}

@media (max-width: $mobile-only-width) {
  .tour-article__name {
    font-size: 24px;
    line-height: 36px;

    margin-left: -2px;
  }

  .tour-article__link {
    width: 288px;

    margin-top: 2px;
    margin-right: auto;
    margin-left: auto;
  }

  .tour-article__img {
    margin-top: 50px;
  }

  .tour-article__review {
    bottom: -53px;
  }
}
