.tours-list {
  padding-top: 200px;
  padding-left: 18px;
}

.tours-list__header {
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.245px;
  text-align: left;

  position: relative;

  margin-top: 0;
  padding-right: 800px;

  &::after {
    content: "";

    position: absolute;
    bottom: -33px;
    left: 0;

    height: 4px;
    width: 228px;

    background-color: $color-accent;
  }
}

.tours-list__description {
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
  letter-spacing: -0.466667px;
  text-align: left;

  margin-top: 64px;
  padding-right: 800px;
}

.tours-list__list {
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  margin-bottom: 0;
  padding-top: 39px;
  padding-left: 0;
  padding-right: 2px;
}

.tours-list__item {
  margin-right: 60px;
  margin-bottom: 101px;

  &:last-of-type {
    margin-left: 60px;
    margin-right: 0;
  }

  &:nth-of-type(3n) {
    margin-left: 0;
    margin-right: 0;
  }

  &:nth-of-type(4n).tours-list__item:last-of-type {
    margin-left: 0;
  }
}

@media (max-width: $tablet-only-width) {
  .tours-list {
    padding-left: 21px;
    padding-top: 80px;
  }

  .tours-list__header {
    font-size: 30px;
    line-height: 45px;
    letter-spacing: normal;
    text-align: center;

    padding-right: 0;
    margin-bottom: 0;

    &::after {
      display: none;
    }
  }

  .tours-list__description {
    text-align: center;

    margin-top: 21px;
    padding-right: 190px;
    padding-left: 190px;
  }

  .tours-list__list {
    align-content: center;

    padding-top: 23px;

    padding-right: 0;
  }

  .tours-list__item {
    margin-bottom: 19px;
    margin-right: 15px;
    margin-left: 15px;

    &:nth-of-type(3n) {
      margin-right: 15px;
      margin-left: 15px;
    }

    &:last-of-type {
      margin-top: 12px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

@media (max-width: $mobile-only-width) {
  .tours-list {
    padding-top: 109px;
    padding-left: 16px;
  }

  .tours-list__header {
    font-size: 24px;
    line-height: 36px;
  }

  .tours-list__description {
    padding: 0;
    margin-bottom: 0;
  }

  .tours-list__list {
    margin-top: 18px;
    padding-top: 0;
    padding-right: 0;
  }

  .tours-list__item {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 35px;

    &:nth-of-type(3n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-of-type {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .tours-list__card {

  }
}
