.tour-card {

}

.tour-card__figure {
  position: relative;

  margin: 0;
}


.tour-card__img {

}

.tour-card__caption {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.415px;

  position: absolute;
  bottom: 0;
  left: 68px;

  min-height: 61px;
  width: 215px;

  padding-top: 16px;

  background-color: $color-font-contrast;
}

@media (max-width: $tablet-only-width) {
  .tour-card {

  }

  .tour-card__figure {

  }

  .tour-card__img {

  }

  .tour-card__caption {

  }
}

@media (max-width: $mobile-only-width) {
  .tour-card {

  }

  .tour-card__figure {

  }

  .tour-card__img {

  }

  .tour-card__caption {

  }
}
