$desktop-width: 1190px;
$tablet-only-width: 1189px;
$tablet-width: 768px;
$mobile-only-width: 767px;
$mobile-width: 320px;
$color-font-primary: #2C2E3F;
$color-font-primary-low-opac: rgba(44, 46, 63, 0.3);
$color-font-secondary: #141517;
$color-font-contrast: #FFFFFF;
$color-font-phone: #000000;
$color-font-tertiary: #48494D;
$color-accent: #FE7865;
$color-accent-hover: #F17D4B;
$color-footer-border: #D7D9DF;
$color-bg-main: #9CC1EF;
$color-bg-popup: #FBF8F8;
$color-shadow-question-form: rgba(41, 54, 66, 0.1);
$color-border-overlay: rgba(255, 255, 255, 0.7);
